.cart-item-container {
  height: 13em;
  display: flex;
  column-gap: 0.5em;
  align-items: center;
  padding-left: 0.5em;
  width: 100%;
  border-bottom: 1px solid var(--color-icon);

  img {
    max-width: 40%;
    // max-height: 70%;
    max-height: auto;
  }

  .short-infor {
    width: 55%;

    a {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: block;
      text-decoration: none;
      color: #000;
    }
    .quantity {
      height: 3em;
      border: 1px solid #000;
      border-radius: 2em;
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 50%;
      margin-bottom: 1em;
      input {
        width: 20%;
        outline: none !important;
        border: none !important;
        font-size: 1em;
        text-align: center;
      }
      input[type="number"]::-webkit-inner-spin-button,
      input[type="number"]::-webkit-outer-spin-button {
        display: none;
      }
    }

    #decrease,
    #increase {
      background-color: #fff;
      border-radius: 2em;
      border-color: transparent;
      font-size: 2em;
      width: 30%;
      height: 10%;
      margin-bottom: 1.7em;
    }

    .btn-remove {
      background-color: #fff;
      font-size: 1.5em;
      border: none;
      color: var(--color-icon);

      &:hover {
        color: #000;
        transition: color 1s;
      }
    }
  }
}
